@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
.font-dmono{
    font-family: 'Inter', monospace;
}

/* things tailwind doesn't have for some reason */
.vertical-text{
    writing-mode: vertical-lr;
    text-orientation: upright;
}

/* link treatment */

#linktest > a{
    font-weight: bold;
}

#linktest > a:hover{
    color: black;
}

footer > a{
  text-decoration-line: none;
}

footer > a:hover{
  text-decoration: underline;
  font-weight: bold;
}

/* individual items */

#navbar > * {
    padding: 1.25rem;
}

/* let's get funky!!! */
/* NOTE: these are nonstandard and will not show in older browsers*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(249 168 212);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(159, 236, 72);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(159, 236, 72);
  }