
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  align-items: center;
  align-content: center;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.sameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.postInformation{
  opacity: 0;
}
.grid-item:hover .postInformation{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.616);
}
.postCaption {
  mix-blend-mode: difference;
  color: white;
  max-height: 75px;
  overflow: auto;
}
.more-post {
  color: black !important;
  height: 30px;
  font-size: 0.8em !important;
  font-weight: bold !important;
  background-color: white !important;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
    
  }

  .tall {
    grid-row: span 2;
  }
}
