article.header{
    width: 100%;
    height: 70px;
    max-height: 100px;
    margin-bottom: 30px;
}
article.header input{
    width: 100%;
    height: 70px;
    max-height: 100px;
    text-align: center;
}

.top-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-section>div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
}

article.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    min-height: 70vh;
    overflow: auto;
}
.messages-container{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.messages-container-not-seen{
    width: fit-content;
    margin-right: 10px;
    max-width: 720px;
    max-height: 78vh;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    border-radius: 6px;
    background: var(--sidebar-color);
}
.messages-container-seen{
    width: fit-content;
    margin-right: 10px;
    max-width: 720px;
    max-height: 78vh;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    border-radius: 6px;
    background: var(--sidebar-color);  
}
article.main section{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 110px;
    max-width: 1200px;
    min-width: 700px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
article.main section.not-seen{
    background-color: rgb(235 235 235 / 80%);
}
article.main section.seen{
    background-color: rgb(99 99 99 / 53%);
}
article.main section .left{
    float: left;
    width: fit-content;
    min-width: 20%;
    overflow: hidden;
    clear: left;
    margin-right: 20px;
}
article.main section .middle{
    float: left;
    width: 50%;
}
article.main section .right{
    display: flex;
    float: right;
    width: 20%;
    justify-content: center;
}
article.main section .user_image img{
    height: 100%;
    max-height: 70px;
    width: 100%;
}
div#NoShow{
    opacity: 0;
    display: none;
}

div[class*="userName"]{
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
}
div[class*="subject"]{
    font-weight: bold;
}
input[id*="readButton"]{
    margin: 0 !important;
    margin-top: 5px !important;
}
div[class*="userMessage"]{
    overflow: auto;
    max-height: 70px;
}

input#search {
    border-radius: 0 0 6px 6px;
    height: 50px;
}

.readButton {
    background-color: #1E293B;
    border-bottom: 2px solid #EF4444;
}
.sendMesage {
    background-color: var(--primary-color-light);
    border-bottom: 2px solid var(--primary-color-reverse);
}
.sendMesage:hover {
    transition: all 0.15s ease-in-out;
    color: var(--primary-color-light);
    background-color: var(--text-color);
    border-bottom: 2px solid var(--primary-color);
}

/*Send message pop up*/
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #e4e9f7;
}
.row{
    padding-bottom: 10px;
}
.modal-header, .modal-footer{
    background-color: var(--sidebar-color);
    color: var(--text-color);
}
.btn-close {
    background-color: var(--close-button) !important;
}
#userRecipient{
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-bottom: 2px solid var(--primary-color-reverse);
}
.form-select{
    background-image: url("../../img/arrow.svg") !important;
    background-size: 15px !important;
}
body.dark .form-select{
    background-image: url("../../img/arrow_dark.svg") !important;
    background-size: 15px !important;
}
#sendSubject{
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-bottom: 2px solid var(--primary-color-reverse);
}
#message{
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-bottom: 2px solid var(--primary-color-reverse);
    height: 100px;
}
.modal-footer {
    justify-content: space-evenly !important;
}
#sendMessage{
    background-color: #1e293b;
    color: #f6f5ff;
    border-bottom: 2px solid var(--primary-color-reverse);
}
@media only screen and (max-width: 1560px) {
    .messages-container-seen{
        margin-top: 10px;
    }
}