.userHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.userHeader div {
    display: flex;
    flex-direction: row;
}
.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}
.buttons .remove {
    background-color: red !important;
    color: black !important;
    height: 30px;
    font-size: 0.8em !important;
    font-weight: bold !important;
}